.app.dark{
    background-color: #222;
    color: rgb(184, 184, 184);

    .chartGrid{
        stroke: rgba(228, 228, 228, 0.232);
    }

    .table{
        background-color: #111;

        .tableCell{
            color: rgb(166, 166, 166);
        }
    }

    .navbar{
        color: rgb(163, 162, 162);
        border-color: #333;
    }

    .sidebar{
        background-color: #222;
        border-color: #333;

        .top{
            .logo{
                color: #999;
            }
        }

        hr{
            border-color: #333;
        }

        ul{
            li{
                &:hover{
                    background-color: #333;
                }

                .icon{
                    color: #999;
                }
            }
        }
    }

    .datatable{
        .datagrid{
            color: gray;
            // border: none;

            .viewButton,
            .deleteButton,
            .cellWithStatus{
                color: gray;
                border: none;
            }
        }
    }

    input{
        background-color: transparent;
    }
}